version: '3'
services:
  addarr:
    image: waterboy1602/addarr
    restart: unless-stopped
    network_mode: host
    volumes:
    - ./config.yaml:/usr/src/addarr/config.yaml:ro
    - ./chatid.txt:/usr/src/addarr/chatid.txt:rw
